body {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    /* border: solid black; */
}

.container {
    display: flex;
    margin-bottom: -1%;
    justify-content:space-between;
}

.container2 {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin-bottom: -2.5%;
}

.container3 {
    display: flex;
    justify-content:space-between;
    flex-direction: row; 
}

.container4 {
    display: flex;
}

.logout {
    padding-left: 5vw;
    padding-right: 5vw;
    background: #FFFFFF;
    border: 3.64219px solid #2D61AF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #2D61AF;
    cursor: pointer;
}

.logout:hover{
    padding-left: 5vw;
    padding-right: 5vw;
    background: linear-gradient(180deg, #E81E1E -600%, rgba(228, 42, 1, 0.490554) -105.72%, rgba(35, 32, 200, 0) 370.24%);
    border: 3.64219px solid #2D61AF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #2D61AF;
    cursor: pointer;

}

.welcome-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25.4953px;
    line-height: 31px;
    color: #2D61AF;
}

.hi-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 31px;
    color: #2F2E41;
}

.date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 31px;
    color: #2F2E41;
}

.time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25.4953px;
    line-height: 31px;
    color: #2D61AF;
}

.footer-text {
    margin-top: 4vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.08em;
    color: rgba(0, 0, 0, 0.55);
}