body {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    /* border: solid black; */
}

.container {
    display: flex;
    margin-bottom: -1%;
    justify-content: space-between;
}

.container2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: -2.5%;
}

.container3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: -2vh;
}

.container4 {
    display: flex;
}

.container5 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: -4%;
}

.container7 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2vw;
}

.container7sub {
    background-color: #8EC5FC;
    background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    margin-top: 2vh;
    padding: 3.5vh;
    border: solid black;
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
}




.container8 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.container9 {
    display: flex;
    justify-content: center;

}


.container11 {
    display: flex;
    justify-content: center;
}

.container12 {
    padding: 0vh 1.2vw 0vh 1.2vw;
    margin-top: 2vh;
    border: solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.3vw;

}

.container13 {
    border: solid black;
    margin-top: 2vh;
    padding: 4vh 1vw 2vh 1vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3vw;
}

.container14 {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}


.logout {
    padding-left: 5vw;
    padding-right: 5vw;
    background: #FFFFFF;
    border: 3.64219px solid #2D61AF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #2D61AF;
    cursor: pointer;
}

.logout:hover {
    padding-left: 5vw;
    padding-right: 5vw;
    background: linear-gradient(180deg, #E81E1E -600%, rgba(228, 42, 1, 0.490554) -105.72%, rgba(35, 32, 200, 0) 370.24%);
    border: 3.64219px solid #2D61AF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #2D61AF;
    cursor: pointer;

}

.welcome-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25.4953px;
    line-height: 31px;
    color: #2D61AF;
}

.hi-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 31px;
    color: #2F2E41;
}

.date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 31px;
    color: #2F2E41;
}

.time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25.4953px;
    line-height: 31px;
    color: #2D61AF;
}

.your-detail {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #2F2E41;
}

.file-input {
    padding: 15vh 0.5vw 15vh 0.5vw;
    background-color: #8EC5FC;
    background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    border: 2.26689px solid #2F2E41;

}

input[type="file"] {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2D61AF;
    cursor: pointer;
}


input::file-selector-button {
    display: none;
}

textarea {
    padding-top: 1vh;
    padding-left: 1vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    background-color: #8EC5FC;
    background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    border: 2.26689px solid #2F2E41;
    resize: none;
}

textarea::placeholder {
    color: #2D61AF;
    text-align: center;
    padding-top: 15vh;


}

.amount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 30px;
    color: #24AB72;

}

.outOf {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2F2E41;
}

.totalAmt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 30px;
    color: #2F2E41;
}

.data {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #36334A;
}

.fund-goal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #3F3D56;
}


.value-button {
    display: inline-block;
    border: 2px solid #000000;
    margin: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 19px;
    box-sizing: border-box;
    text-align: center;
    color: #2F2E41;
    text-align: center;
    vertical-align: middle;
    background: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

.container8 #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    padding: 15px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    color: #FFFFFF;
    background: #2D61AF;
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

hr {
    height: 0.2vh;
    background: #3F3D56;
}

.line {
    margin-top: 2vh;
}

.payButton {
    margin-top: 1vh;
    cursor: pointer;
    padding: 1vh 7.2vw 1vh 7.2vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 21.2121px;
    line-height: 26px;
    background: #FFFFFF;
    text-align: center;
    color: #000000;
}

.payButton:hover {
    background: linear-gradient(180deg, #B4F1F4 0%, rgba(195, 246, 206, 0.807292) 71.18%, rgba(255, 255, 255, 0) 369.39%);
    border: 2px solid #000000;

}

.share-link {
    padding-bottom: 1vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2F2E41;
}

.RaisedFunds {
    cursor: pointer;
    padding: 1vh 4vw 1vh 4vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 21.2121px;
    line-height: 26px;
    background: #2D61AF;
    text-align: center;
    color: #FFFFFF;
}

.RaisedFunds:hover {
    color: #000000;
    background: linear-gradient(155.28deg, #E49E9E -85.53%, rgba(138, 138, 255, 0) 137.24%, rgba(124, 222, 116, 0) 341.44%);

}

.footer-text {
    margin-top: 3vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.08em;
    color: rgba(0, 0, 0, 0.55);
}